# August 4, 6:  High School Math with Python

Where we left off:  a [Rational Number type](July28_2021.ipynb).

Going forward, instead of developing in a Notebook cell, lets develop in an IDE and load or import the source code.  Lets create a new Python module named mathobjects.py and put our emerging (developing) types (classes) in there.

What's up this week?  Lets learn the basics of [Group Theory](https://github.com/4dsolutions/School_of_Tomorrow/blob/master/GroupTheory.ipynb) and apply them to what we've been studying up to now, which includes some [Number Theory](https://github.com/4dsolutions/School_of_Tomorrow/blob/master/NumberTheory.ipynb).

The *Socratica* channel on Youtube has [a pretty good playlist](https://www.youtube.com/playlist?list=PLi01XoE8jYoi3SgnnGorR_XOW3IcK-TP6) on Group Theory, which is part of the subject of Abstract Algebra.

In [1]:
import imp

In [39]:
import mathobjects
imp.reload(mathobjects)

In [40]:
from mathobjects import Rat

In [4]:
p = Rat(1, 2)

In [5]:
q = Rat(2, 3)

In [6]:
2*q

(4/3)

In [7]:
q

(2/3)

In [8]:
q / p

(4/3)

In [9]:
p * ~p

(1/1)

### Group Theory and Totatives of N mod N

In [10]:
from math import gcd

In [11]:
def stranger(m, n):
    return gcd(m, n) == 1

In [12]:
stranger(10, 41)

True

In [13]:
def totatives(n):
      return [i for i in range(1, n) if stranger(n, i)]

In [14]:
totatives(12)

[1, 5, 7, 11]

In [15]:
(7 * 5) % 12

11

The idea of a "Cayley Table" vis-a-vis a finite group:  everything times everything. Or everything plus everything.  

Whatever the operator, do it with every possible pair.  

If you're dealing with a group at all, you'll show Closure among four key properties, meaning all the products will be elements found within the original finite set.

You will also have associativity, and neutral element, and an inverse within the set, for every element.  

The inverse of an element is such that any element and its inverse, operated upon by the group operation, give the neutral element as a result.

In [16]:
from itertools import product

In [41]:
from mathobjects import Mod

In [42]:
def make_group(modulus):
    Mod._modulus = modulus
    return [Mod(m) for m in totatives(modulus)]

In [43]:
t = make_group(12)

In [44]:
list(product(t, t))

[((1 mod 12), (1 mod 12)),
 ((1 mod 12), (5 mod 12)),
 ((1 mod 12), (7 mod 12)),
 ((1 mod 12), (11 mod 12)),
 ((5 mod 12), (1 mod 12)),
 ((5 mod 12), (5 mod 12)),
 ((5 mod 12), (7 mod 12)),
 ((5 mod 12), (11 mod 12)),
 ((7 mod 12), (1 mod 12)),
 ((7 mod 12), (5 mod 12)),
 ((7 mod 12), (7 mod 12)),
 ((7 mod 12), (11 mod 12)),
 ((11 mod 12), (1 mod 12)),
 ((11 mod 12), (5 mod 12)),
 ((11 mod 12), (7 mod 12)),
 ((11 mod 12), (11 mod 12))]

In [45]:
[a * b for a,b in product(t, t)]

[(1 mod 12),
 (5 mod 12),
 (7 mod 12),
 (11 mod 12),
 (5 mod 12),
 (1 mod 12),
 (11 mod 12),
 (7 mod 12),
 (7 mod 12),
 (11 mod 12),
 (1 mod 12),
 (5 mod 12),
 (11 mod 12),
 (7 mod 12),
 (5 mod 12),
 (1 mod 12)]

In [46]:
def closure(results, elements):
    return set(results).issubset(elements)

All the products are contained within the original set of elements.

In [47]:
closure([a * b for a,b in product(t, t)], make_group(12) )

True